name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Deno v2
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Check formatting
        id: fmt
        run: deno fmt --check
        continue-on-error: true
      - name: Lint code
        id: lint
        run: deno lint
        continue-on-error: true
      - name: Run tests
        id: test
        run: deno task test
        continue-on-error: true
      - name: Check for failures
        if: steps.fmt.outcome == 'failure' || steps.lint.outcome == 'failure' || steps.test.outcome == 'failure'
        run: exit 1
