name: Update Dependency

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  main:
    name: update dependency
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.x
      - run: deno outdated --update --latest
      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "build: bump version deno imports"
          branch: update-deno-imports
          delete-branch: true
          title: "build: bump version deno imports"
